# PERSONAL

context/

prompt.md
*.Zone.Identifier

# PYTHON

__pycache__/

build/
dist/
sdist/

downloads/

develop-eggs/
eggs/
.eggs/
*.egg-info/

lib/
lib64/
var/

parts/
wheels/
share/python-wheels/

MANIFEST
*.so
*.py[cod]
*$py.class
.Python
.installed.cfg
*.egg

# VIRTUALENV

venv/
env/
include/

.venv
pip-log.txt
pip-selfcheck.json

# POETRY

.poetry-virtualenvs/

poetry.lock

# ENVIRONMENT VARIABLES

.env

# DJANGO

static/

# CAUSES ISSUES WITH TESTS...
# **/migrations/

media/

*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# IDES AND EDITORS

.vscode/
.idea/

*.swp
*.swo
*~

# TESTING

.pytest_cache/
htmlcov/

.coverage
